*
!export_descr_unit.txt
!export_descr_buildings.txt
!export_descr_character_traits.txt
!descr_campaign_db.xml
!descr_campaign_ai_db.xml
!.gitignore
!descr_settlement_mechanics.xml
!descr_missions.txt
!descr_projectile.txt
!descr_sm_factions.txt
!descr_walls.txt
!descr_character.txt
!descr_sm_resources.txt